{% extends 'base.html' %}

{% block title %}Bilans{% endblock %}

{% block modal %}
    <a class="dropdown-item" href="#modalDateSelector" data-bs-toggle="modal">Wybrany zakres dat</a>
{% endblock %}

{% block footer %}
    <script
      type="text/javascript"
      src="https://www.gstatic.com/charts/loader.js"
    ></script>
    <script type="text/javascript">
      google.charts.load("current", { packages: ["corechart"] });
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ["Przychody", "Wartość"],
          {% for income_category in balance.incomes_sum_cat %}
            ["{{ income_category.category_name }}", {{ income_category.category_amount_sum }}],
          {% endfor %}
        ]);

        var options = {
          title: "Przychody",
          titleTextStyle: {
            // color: <string>,    // any HTML string color ('red', '#cc00cc')
            // fontName: <string>, // i.e. 'Times New Roman'
            fontSize: 18, // 12, 18 whatever you want (don't specify px)
            // bold: <boolean>,    // true or false
            // italic: <boolean>   // true of false
          },
          pieHole: 0.3,
          legend: "none",
          backgroundColor: "transparent",
          width: 400,
          height: 400,
        };

        var chart = new google.visualization.PieChart(
          document.getElementById("incomesdonutchart")
        );
        chart.draw(data, options);
      }
    </script>

    <script
      type="text/javascript"
      src="https://www.gstatic.com/charts/loader.js"
    ></script>
    <script type="text/javascript">
      google.charts.load("current", { packages: ["corechart"] });
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ["Wydatki", "Wartość"],
          {% for expense_category in balance.expenses_sum_cat %}
            ["{{ expense_category.category_name }}", {{ expense_category.category_amount_sum }}],
          {% endfor %}
        ]);

        var options = {
          title: "Wydatki",
          titleTextStyle: {
            // color: <string>,    // any HTML string color ('red', '#cc00cc')
            // fontName: <string>, // i.e. 'Times New Roman'
            fontSize: 18, // 12, 18 whatever you want (don't specify px)
            // bold: <boolean>,    // true or false
            // italic: <boolean>   // true of false
          },
          pieHole: 0.3,
          legend: "none",
          backgroundColor: "transparent",
          width: 400,
          height: 400,
        };

        var chart = new google.visualization.PieChart(
          document.getElementById("outcomesdonutchart")
        );
        chart.draw(data, options);
      }
    </script>
{% endblock %}

{% block body %}
    <main class="container">
        <div class="bg-light px-5 py-4 mb-5 rounded">
            <div class="row">
                <div class="w-100 text-center bg-dark rounded text-secondary py-3 mt-3">
                    <div class="h3">PODSUMOWANIE</div>
                    <div class="h5">{{ action }}</div>
                    <div class="h5">BILANS:</div>
                    {% set balance_val = balance.incomes_sum.amount_sum - balance.expenses_sum.amount_sum %}
                    <div class="h4 {{ (balance_val >= 0) ? 'balance_plus' : 'balance_minus' }}">{{ balance_val }}</div>
                </div>

                {% if balance.expenses_sum.amount_sum is null and balance.incomes_sum.amount_sum is null %}
                  <div class="h5 w-100 text-center py-3 mt-3">
                    Brak zarejestrowanych transakcji w danym okresie czasu
                  </div>
                {% else %}

                  {% if balance.expenses_sum.amount_sum is null %}
                    <div class="h5 w-100 text-center py-3 mt-3">
                      Brak wydatków w danym okresie czasu
                    </div>
                  {% endif %}

                  {% if balance.incomes_sum.amount_sum is null %}
                    <div class="h5 w-100 text-center py-3 mt-3">
                      Brak przychodów w danym okresie czasu
                    </div>
                  {% endif %}
                {% endif %}

                {% if balance.expenses_sum.amount_sum is null %}
                  <div class="d-flex justify-content-center">
                {% endif %}
                    {% if balance.incomes_sum.amount_sum is not null %}
                      <div class="col-lg-6 d-flex justify-content-center">
                          <div id="incomesdonutchart" class=""></div>
                      </div>
                    {% endif %}
                {% if balance.expenses_sum.amount_sum is null %}
                  </div>
                {% endif %}

                {% if balance.incomes_sum.amount_sum is null %}
                  <div class="d-flex justify-content-center">
                {% endif %}
                    {% if balance.expenses_sum.amount_sum is not null %}
                      <div class="col-lg-6 d-flex justify-content-center">
                          <div id="outcomesdonutchart" class=""></div>
                      </div>
                    {% endif %}
                {% if balance.incomes_sum.amount_sum is null %}
                  </div>
                {% endif %}

                <div class="w-100 text-center"></div>

                {% if balance.expenses_sum.amount_sum is null %}
                  <div class="d-flex justify-content-center">
                {% endif %}
                  {% if balance.incomes_sum.amount_sum is not null %}
                    <div class="col-xxl-6 d-flex justify-content-center">
                        <div class="table-responsive">
                            <table class="table caption-top table-success">
                                <caption>
                                    Przychody
                                </caption>
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Data</th>
                                        <th scope="col">Kategoria</th>
                                        <th scope="col">Opis</th>
                                        <th scope="col">Kwota</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for income in balance.incomes %}
                                    <tr>
                                        <th scope="row">{{ loop.index0+1 }}</th>
                                        <td>{{ income.date_of_income }}</td>
                                        <td>{{ income.category_name }}</td>
                                        <td>{{ income.income_comment }}</td>
                                        <td>{{ income.amount }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                  {% endif %}
                {% if balance.expenses_sum.amount_sum is null %}
                  </div>
                {% endif %}

                {% if balance.incomes_sum.amount_sum is null %}
                  <div class="d-flex justify-content-center">
                {% endif %}
                  {% if balance.expenses_sum.amount_sum is not null %}
                    <div class="col-xxl-6 d-flex justify-content-center">
                        <div class="table-responsive">
                            <table class="table caption-top table-danger">
                                <caption>
                                    Wydatki
                                </caption>
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Data</th>
                                        <th scope="col">Kategoria</th>
                                        <th scope="col">Forma płatności</th>
                                        <th scope="col">Opis</th>
                                        <th scope="col">Kwota</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for expense in balance.expenses %}
                                    <tr>
                                        <th scope="row">{{ loop.index0+1 }}</th>
                                        <td>{{ expense.date_of_expense }}</td>
                                        <td>{{ expense.category_name }}</td>
                                        <td>{{ expense.payment_method_name }}</td>
                                        <td>{{ expense.expense_comment }}</td>
                                        <td>{{ expense.amount }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                  {% endif %}
                {% if balance.incomes_sum.amount_sum is null %}
                  </div>
                {% endif %}

            </div>
        </div>
    </main>

  <!-- MODAL DATE SELECTION -->
    <div class="modal fade" id="modalDateSelector" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header p-5 pb-4 border-bottom-0">
                <h1 class="fw-bold mb-0 fs-2">Wybierz zakres dat</h1>
                <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                ></button>
                </div>

                <div class="modal-body p-5 pt-0">
                <form action="/balance/indexSelectedDates" method="post">
                    <div class="form-floating mb-3">
                    <input
                        type="date"
                        class="form-control rounded-3"
                        name="dateFrom"
                        id="floatingDateFrom"
                        placeholder="Data od"
                    />
                    <label for="floatingDateFrom">Data od</label>
                    </div>
                    <div class="form-floating mb-3">
                    <input
                        type="date"
                        class="form-control rounded-3"
                        name="dateTo"
                        id="floatingDateTo"
                        placeholder="Data do"
                    />
                    <label for="floatingDateTo">Data do</label>
                    </div>
                    <button
                    class="w-100 mb-2 btn btn-lg rounded-3 btn-primary"
                    type="submit"
                    >
                    Zatwierdź
                    </button>
                </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
