{% extends 'base.html' %} {% block title %}Home{% endblock %} {% block footer %}
<script src="\js\hideShowPassword.min.js"></script>
<script src="/js/app.js"></script>

<script>
  $(document).ready(function () {
    $("#formSignup").validate({
      errorClass: "is-invalid",
      rules: {
        name: "required",
        email: {
          required: true,
          email: true,
          remote: "/account/validate-email",
        },
        password: {
          required: true,
          minlength: 6,
          validPassword: true,
        },
      },
      messages: {
        name: {
          required: "Podaj swoje imię",
        },
        email: {
          required: "Podaj adres email",
          email: "Adres email jest niepoprawny",
          remote: "Podany adres email jest już zajęty",
        },
        password: {
          required: "Podaj hasło",
          minlength: "Hasło powinno składać się z min. 6 znaków",
          validPassword: "Hasło musi zawierać litery i min 1 cyfrę",
        }
      },
    });

    $("#formLogin").validate({
      errorClass: "is-invalid",
      rules: {
        email: {
          required: true,
          email: true,
        },
        password: {
          required: true,
        },
      },
      messages: {
        email: {
          required: "Podaj adres email",
          email: "Podaj adres email",
        },
        password: {
          required: "Podaj hasło",
        }
      },
    });

    setInterval(removeDefaultLabelOnValidateError, 1);
  });

  function passShowHideReg() {
    var pass_shreg = document.getElementById("inputPasswordReg");
    if (pass_shreg.type == "password") pass_shreg.type = "text";
    else pass_shreg.type = "password";
    var btnreg = document.getElementById("inputPasswordRegBtn");
    if (btnreg.innerHTML == "Pokaż") btnreg.innerHTML = "Ukryj";
    else btnreg.innerHTML = "Pokaż";
  }

  function passShowHide() {
    var pass_sh = document.getElementById("inputPassword");
    if (pass_sh.type == "password") pass_sh.type = "text";
    else pass_sh.type = "password";
    var btn = document.getElementById("inputPasswordBtn");
    if (btn.innerHTML == "Pokaż") btn.innerHTML = "Ukryj";
    else btn.innerHTML = "Pokaż";
  }

  function removeDefaultLabelOnValidateError() {
    if ($("#inputNameReg").hasClass("is-invalid")) {
      $("#inputNameRegLabel").remove();
    } else {
      if (document.getElementById("inputNameRegLabel") === null) {
        $("#inputNameReg").after(
          '<label id="inputNameRegLabel" for="inputNameReg">Imię</label>'
        );
      }
    }

    if ($("#inputEmailReg").hasClass("is-invalid")) {
      $("#inputEmailRegLabel").remove();
    } else {
      if (document.getElementById("inputEmailRegLabel") === null) {
        $("#inputEmailReg").after(
          '<label id="inputEmailRegLabel" for="inputEmailReg">Adres email</label>'
        );
      }
    }

    if ($("#inputPasswordReg").hasClass("is-invalid")) {
      $("#inputPasswordRegLabel").remove();
    } else {
      if (document.getElementById("inputPasswordRegLabel") === null) {
        $("#inputPasswordReg").after(
          '<label id="inputPasswordRegLabel" for="inputPasswordReg">Hasło</label>'
        );
      }
    }

    if ($("#inputEmail").hasClass("is-invalid")) {
      $("#inputEmailLabel").remove();
    } else {
      if (document.getElementById("inputEmailLabel") === null) {
        $("#inputEmail").after(
          '<label id="inputEmailLabel" for="inputEmail">Adres email</label>'
        );
      }
    }

    if ($("#inputPassword").hasClass("is-invalid")) {
      $("#inputPasswordLabel").remove();
    } else {
      if (document.getElementById("inputPasswordLabel") === null) {
        $("#inputPassword").after(
          '<label id="inputPasswordLabel" for="inputPassword">Hasło</label>'
        );
      }
    }
  }
</script>

{% endblock %} {% block body %}

<main class="container">
  <div class="bg-light px-5 pb-5 pt-4 rounded appear">
    <h1 class="pb-2">Jak mądrze zaplanować wydatki?</h1>
    <p class="lead">
      Niezależnie od tego, jak dużo miesięcznie zarabiasz, jeśli wydajesz
      więcej, to dalej nie masz oszczędności. Dlatego kontrola wydatków jest
      jednym z najważniejszych elementów dobrze zarządzanego budżetu domowego.
      Sprawdź, jak możesz mądrze zaplanować swoje wydatki. Stosując się do tych
      kilku porad, zaoszczędzisz sporo pieniędzy na inwestycje.
    </p>
    <p>
      Źle zaplanowany budżet domowy jest jak dziurawy worek piasku. Nie ma
      znaczenia, ile wsypiesz do środka, prędzej, czy później i tak wszystko z
      niego ucieknie. Podobnie jest z Twoimi finansami. Zbyt duża liczba
      wydatków (dziur) spowoduje, że zgromadzone pieniądze znikną. W skrajnych
      przypadkach nie tylko zostaniesz bez środków do życia, ale nawet zaczną Ci
      się gromadzić długi i niespłacone rachunki.
    </p>
    <h2 class="py-2">Dlaczego planowanie wydatków jest tak ważne?</h2>
    <p>
      Wyzwaniem, które stoi przed każdym, kto chce świadomie zarządzać
      wydatkami, jest zalepienie tych dziur.
      <b
        >Czasami oszczędzenie 500 zł miesięcznie przez racjonalne wydawanie może
        być łatwiejsze niż taką samą kwotę zarobić</b
      >. W takim przypadku oszczędzasz nie tylko pieniądze, ale również czas,
      który musiałbyś poświęcić na dodatkowe godziny pracy. Oczywiście nic nie
      stoi na przeszkodzie aby jednocześnie prosić o podwyżkę, szukać lepiej
      płatnej pracy czy nowych klientów w naszym biznesie.
    </p>
    <p>
      To właśnie dlatego, wydatki (a w zasadzie kontrola nad nimi) powinny
      stanowić najważniejszy element budżetu domowego. To od nich należy
      rozpocząć planowanie budżetu.
    </p>
    <h2 class="h5">
      Oto 5 kroków do osiągnięcia sukcesu w planowaniu wydatków:
    </h2>
    <ol>
      <li><a href="#liPos1">Spisz wydatki</a></li>
      <li><a href="#liPos2">Uporządkuj je</a></li>
      <li><a href="#liPos3">Porównaj wydatki z wpływami</a></li>
      <li><a href="#liPos4">Pozbądź się zbędnych kosztów</a></li>
      <li><a href="#liPos5">Zautomatyzuj wydatki</a></li>
    </ol>
    <h2 class="h5">W tym wszystkim pomoże Ci nasza aplikacja!</h2>
  </div>

  <div class="bg-light my-5 p-5 rounded appear">
    <h3 class="py-2" id="liPos1">1. Spisz wydatki</h3>
    <p>
      Aby móc kontrolować wydatki, najpierw trzeba wiedzieć, na co wydajemy
      zarobione pieniądze. Zrób więc listę wydatków, które regularnie ponosisz.
      Najszybciej zrobisz to z pomocą wyciągu z konta bankowego. Pamiętaj
      również, żeby każdemu wydatkowi przypisać odpowiednią kategorię. Na
      przykład wydatki związane z zakupem mleka, pieluch i ubranek dla dziecka
      oznacz po prostu jako wydatki na dziecko.
    </p>
    <p>
      Taką listę planowanych wydatków możesz przygotować na kartce papieru lub w
      arkuszu kalkulacyjnym. Im prościej tym lepiej, więc na początek nie będą
      ci potrzebne zaawansowane aplikacje lub programy komputerowe.
    </p>

    <h3 class="py-2" id="liPos2">2. Uporządkuj je</h3>
    <p>
      Samo podzielenie wydatków na kategorie to za mało. W kolejnym kroku musisz
      je uporządkować.
    </p>
    <p>
      Najważniejszy podział dotyczy tego, które wydatki są stałe, a które
      pojawiają się nieregularnie. Przykładowo czynsz za mieszkanie jest
      wydatkiem stałym, który ponosisz co miesiąc. Z drugiej strony
      ubezpieczenie OC samochodu płaci się tylko raz w roku. Rozbij więc
      wszystkie koszty na dwie kategorie – ponoszone co miesiąc i cyklicznie.
    </p>
    <p>
      Następnie prześwietl wydatki pod kątem ich obowiązkowości.
      <b
        >Podziel je na te, które musisz zapłacić (jak czynsz, rata kredytu lub
        opłata za żłobek) oraz te mniej lub nieobowiązkowe</b
      >. W tej drugiej kategorii umieść wydatki związane z opłatami za
      subskrypcje aplikacji, wydatkami na ubrania, czy na przykład rozrywkę.
    </p>

    <h3 class="py-2" id="liPos3">3. Porównaj wydatki z wpływami</h3>
    <p>
      Czy wydatki na poziomie 3 000 złotych miesięcznie to dużo, czy mało?
      Wszystko zależy od tego, jak kształtuje się poziom przychodów.
      <b
        >Dla osoby zarabiającej ponad 10 000 złotych na miesiąc będzie to
        zapewne niewiele, jednak dla osoby pracującej za niewiele ponad
        minimalną krajową będzie to bardzo dużo.</b
      >
    </p>
    <p>
      W tym kroku porównaj wydatki z wpływami. Sprawdź, ile pieniędzy w
      ostatnich miesiącach zostawało w Twojej kieszeni.
    </p>

    <h3 class="py-2" id="liPos4">4. Pozbądź się zbędnych kosztów</h3>
    <p>
      Najmniej przyjemna część planowania budżetu. Pora na pozbycie się kilku z
      nich. Czyszczenie domowego budżetu rozpocznij od wydatków z kategorii
      nieobowiązkowych. Może się bowiem okazać, że od kilku miesięcy płacisz
      abonament za dostęp do aplikacji, z której w ogóle nie korzystasz. A może
      płacisz dużo za przejazdy taksówką lub jedzenie na mieście?
    </p>
    <p>
      Po pierwszym wycięciu kosztów ponownie porównaj wydatki z przychodami.
      <b
        >Jeśli dalej kwota, która zostaje w portfelu, nie jest dla Ciebie
        zadowalająca to znak, że pora przyjrzeć się bliżej wydatkom
        obowiązkowym.</b
      >
      Jeśli domowy budżet się nie spina, to może warto pomyśleć o wynajęciu
      tańszego mieszkania lub renegocjacji warunków spłaty kredytu z bankiem.
      Możliwości jest naprawdę sporo.
    </p>

    <h3 class="py-2" id="liPos5">5. Zautomatyzuj wydatki</h3>
    <p>
      O ile wcześniejsze kroki dotyczyły przede wszystkim wydatków, które już
      poniosłeś, o tyle ten etap dotyczy już przyszłości. To etap wydawania
      pieniędzy – istotny krok przy planowaniu budżetu.
    </p>
    <p>
      Skorzystaj z pomocy systemu bankowego. Ustaw w nim automatyczne przelewy,
      którymi opłacisz wydatki obowiązkowe (opłaty za mieszkanie, kredyt czy
      żłobek).
      <b
        >Najlepiej jeśli transakcje będą wychodziły w dniu otrzymania
        wynagrodzenia</b
      >
      – nie pojawią się wówczas wątpliwości, czy lepiej zapłacić teraz czy
      później. Gdy już będziesz mógł sobie na to pozwolić, to samo zrób z
      oszczędzaniem – w myśl zasady „płać najpierw sobie”.
    </p>
    <p>
      Pozostałe wydatki, głównie o charakterze zmiennym wydaj najpierw na
      papierze. Rozpisz więc, ile możesz wydać na jedzenie, ubrania, rozrywkę
      czy drobne przyjemności oraz ile chciałbyś odłożyć na jakiś cel w
      przyszłości (samochód, wakacje itp.). Tak skonstruowany i w dużej mierze
      zautomatyzowany plan wydatków domowych, pomoże Ci lepiej kontrolować swój
      budżet.
    </p>
  </div>
</main>

<!-- MODAL 1 - USER LOGIN -->
<div class="modal fade" id="exampleModalToggle" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header p-5 pb-4 border-bottom-0">
        <h1 class="fw-bold mb-0 fs-2">Zaloguj się!</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
        ></button>
      </div>
      <div class="modal-body px-5">
        <form class="" action="/login/create" method="post" id="formLogin">
          <div class="form-floating mb-3">
            <input
              type="email"
              class="form-control"
              id="inputEmail"
              name="email"
              placeholder="Adres email"
              autocomplete="off"
              value="{{ email }}"
            />
          </div>

          <div class="input-group mb-3">
            <div class="form-floating">
              <input
                type="password"
                class="form-control"
                id="inputPassword"
                name="password"
                placeholder="Hasło"
                aria-label="Hasło"
                aria-describedby="inputPasswordBtn"
                autocomplete="off"
              />
            </div>
            <button
              onclick="passShowHide()"
              class="btn btn-outline-secondary"
              type="button"
              id="inputPasswordBtn"
            >Pokaż</button>
          </div>
          <div class="form-check mb-3">
            <label>
              <input
                type="checkbox"
                name="remember_me"
                {%
                if
                remember_me
                %}
                checked="checked"
                {%
                endif
                %}
                class="form-check-input"
              />
              Zapamiętaj mnie!
            </label>
          </div>
          <button
            class="w-100 mb-2 btn btn-lg rounded-3 btn-success"
            type="submit"
          >
            Logowanie
          </button>
          <small class="text-muted"
            >Jeżeli, nie posiadasz konta załóż nowe poprzez rejestrację</small
          >
          <hr class="my-3" />
        </form>
        <div class="form-floating mb-3">
          <button
            class="w-100 mb-2 btn btn-lg rounded-3 btn-primary"
            data-bs-target="#exampleModalToggle2"
            data-bs-toggle="modal"
            data-bs-dismiss="modal"
          >
            Rejestracja
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- MODAL 2 - NEW USER REGISTRATION -->
<div class="modal fade" id="exampleModalToggle2" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header p-5 pb-4 border-bottom-0">
        <h1 class="fw-bold mb-0 fs-2">Zarejestruj się!</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
        ></button>
      </div>
      <div class="modal-body px-5">
        <form class="" method="post" action="/signup/create" id="formSignup">
          <div class="form-floating mb-3">
            <input
              type="text"
              class="form-control"
              id="inputNameReg"
              name="name"
              placeholder="Imię"
              autocomplete="off"
            />
          </div>
          <div class="form-floating mb-3">
            <input
              type="email"
              class="form-control"
              id="inputEmailReg"
              name="email"
              placeholder="Adres email"
              autocomplete="off"
            />
          </div>

          <div class="input-group mb-3">
            <div class="form-floating">
              <input
                type="password"
                class="form-control"
                id="inputPasswordReg"
                name="password"
                placeholder="Hasło"
                aria-label="Hasło"
                aria-describedby="inputPasswordRegBtn"
                autocomplete="off"
              />
            </div>
            <button
              onclick="passShowHideReg()"
              class="btn btn-outline-secondary"
              type="button"
              id="inputPasswordRegBtn"
            >Pokaż</button>
          </div>

          <button
            class="w-100 mb-2 btn btn-lg rounded-3 btn-primary"
            type="submit"
          >
            Rejestracja
          </button>
          <small class="text-muted"
            >Jeżeli posiadasz już konto, zaloguj się</small
          >
          <hr class="my-3" />
        </form>
        <div class="form-floating mb-3">
          <button
            class="w-100 mb-2 btn btn-lg rounded-3 btn-success"
            data-bs-target="#exampleModalToggle"
            data-bs-toggle="modal"
            data-bs-dismiss="modal"
          >
            Logowanie
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
