{% extends 'base.html' %} 

{% block title %}Home{% endblock %} 

{% block footer %}
<script src="/js/app.js"></script>

<script>

    var flash_message_id = 0;

    setTimeout(function(){
          $('.flash_messages').remove();
        }, 3000);

    function dontSubmit() {
      //return false;
    }

    function updateIncomesCategoryList(data)
    {
      // Update List
      // remove select options
      $("#floatingSelectChgCatNameIncomes")
        .find('option').remove().end()
        .append('<option value="">wybierz</option>').val('');  
      // fill with updated category options
      for (var i = 0; i < data.incomes_categories.length; i++) {
        $('#floatingSelectChgCatNameIncomes').append('<option value="' + data.incomes_categories[i].id + '">' + data.incomes_categories[i].name + '</option>');
      }

      // Remove List
      // remove select options
      $("#floatingSelectRemCatNameIncomes")
        .find('option').remove().end()
        .append('<option value="">wybierz</option>').val(''); 
      // fill with updated category options
      for (var i = 0; i < data.incomes_categories.length; i++) {
        $('#floatingSelectRemCatNameIncomes').append('<option value="' + data.incomes_categories[i].id + '">' + data.incomes_categories[i].name + '</option>');
      }
    }

    function printFlashMessages(data)
    {
      // remove flash messages
      //$(".alert").remove();
      var flash_id;
      // print new alerts
      for (var i = 0; i< data.flash_message_body.length; i++) {
        flash_id = 'flash_message_id' + flash_message_id;
        $(".flash_messages_print_from_ajax").append('<div id="' + flash_id + '" class="alert alert-' + data.flash_message_type[0] + '">'
                                  + data.flash_message_body[0] +
                                '</div>');
        setTimeout(function(){
          $('#' + flash_id).remove();
        }, 8000);

        flash_message_id++;
      }
    }

    $(document).ready(function () {
        $("#formUpdateAccount").validate({
        errorClass: "is-invalid",
            rules: {
                //name: "required",
                email: {
                //required: true,
                email: true,
                remote: "/account/validate-email",
                },
                password: {
                //required: true,
                minlength: 6,
                validPassword: true,
                },
            },
            messages: {
                name: {
                required: "Podaj swoje imię",
                },
                email: {
                //required: "Podaj adres email",
                email: "Adres email jest niepoprawny",
                remote: "Podany adres email jest już zajęty",
                },
                password: {
                //required: "Podaj hasło",
                minlength: "Hasło powinno składać się z min. 6 znaków",
                validPassword: "Hasło musi zawierać litery i min 1 cyfrę",
                }
            },
        });

        $("#buttonAddIncomesCategory").on("click", function(e) {
          
          var name = $("#floatingAddCatNameIncomes").val();

          $.ajax({
            url: '/Settings/addIncomeCategory',
            type: 'POST',
            data: { name: name }
          })
          .done(function(data) {
            var data = $.parseJSON(data);
            updateIncomesCategoryList(data);
            // clear text input
            $("#floatingAddCatNameIncomes").val('');
            printFlashMessages(data);
          });
        });

        $("#buttonUpdateIncomesCategory").on("click", function(e) {
          
          var id = $("#floatingSelectChgCatNameIncomes").val();
          var name = $("#floatingChgCatNameIncomes").val();

          $.ajax({
            url: '/Settings/updateIncomeCategory',
            type: 'POST',
            data: { id: id,
                    name: name
                  }
          })
          .done(function(data) {
            var data = $.parseJSON(data);
            updateIncomesCategoryList(data);
            // clear text input
            $("#floatingChgCatNameIncomes").val('');
            printFlashMessages(data);
          });
        });

        $("#buttonRemoveIncomesCategory").on("click", function(e) {
          
          var id = $("#floatingSelectRemCatNameIncomes").val();

          $.ajax({
            url: '/Settings/deleteIncomeCategory',
            type: 'POST',
            data: { id: id }
          })
          .done(function(data) {
            var data = $.parseJSON(data);
            updateIncomesCategoryList(data);
            printFlashMessages(data);
          });
        });

        setInterval(removeDefaultLabelOnValidateError, 1);
    });

    function passShowHideReg() {
        var pass_shreg = document.getElementById("inputPassword");
        if (pass_shreg.type == "password") pass_shreg.type = "text";
        else pass_shreg.type = "password";
        var btnreg = document.getElementById("inputPasswordBtn");
        if (btnreg.innerHTML == "Pokaż") btnreg.innerHTML = "Ukryj";
        else btnreg.innerHTML = "Pokaż";
    }

    function removeDefaultLabelOnValidateError() {
        if ($("#inputName").hasClass("is-invalid")) {
            $("#inputNameLabel").remove();
        } else {
            if (document.getElementById("inputNameLabel") === null) {
                $("#inputName").after(
                '<label id="inputNameLabel" for="inputName">Imię</label>'
                );
            }
        }

        if ($("#inputEmail").hasClass("is-invalid")) {
            $("#inputEmailLabel").remove();
        } else {
            if (document.getElementById("inputEmailLabel") === null) {
                $("#inputEmail").after(
                '<label id="inputEmailLabel" for="inputEmail">Adres email</label>'
                );
            }
        }

        if ($("#inputPassword").hasClass("is-invalid")) {
            $("#inputPasswordLabel").remove();
        } else {
            if (document.getElementById("inputPasswordLabel") === null) {
                $("#inputPassword").after(
                '<label id="inputPasswordLabel" for="inputPassword">Hasło</label>'
                );
            }
        }
    }
</script>
{% endblock %}

{% block body %}
<main class="container">
    <div class="bg-light px-5 py-4 mb-5 rounded">
      <div class="row">
        <div
          class="w-100 h2 mb-3 text-center bg-dark rounded text-secondary py-2 mt-3"
        >
          Opcje edycji
        </div>
        <hr class="hr-edit" />
        <div class="w-100 h5 mb-2 text-center">zmiana nazwy kategorii</div>
        <div class="row mb-3 row-edit">
          <div
            class="col-12 col-md-4 btn btn-primary py-2 btn-edit-first fw-bold"
            href="#modalChgCatNameIncomes"
            data-bs-toggle="modal"
          >
            Przychody
          </div>
          <div
            class="col-12 col-md-4 btn btn-primary py-2 btn-edit-mid fw-bold"
            href="#modalChgCatNameOutcomes"
            data-bs-toggle="modal"
          >
            Wydatki
          </div>
          <div
            class="col-12 col-md-4 btn btn-primary py-2 btn-edit-last fw-bold"
            href="#modalChgCatNamePayment"
            data-bs-toggle="modal"
          >
            Sposoby płatności
          </div>
        </div>
        <hr class="hr-edit" />
        <div class="w-100 h5 mb-2 text-center">dodanie kategorii</div>
        <div class="row mb-3 row-edit">
          <div
            class="col-12 col-md-4 btn btn-success py-2 btn-edit-first fw-bold"
            href="#modalAddCatNameIncomes"
            data-bs-toggle="modal"
          >
            Przychody
          </div>
          <div
            class="col-12 col-md-4 btn btn-success py-2 btn-edit-mid fw-bold"
            href="#modalAddCatNameOutcomes"
            data-bs-toggle="modal"
          >
            Wydatki
          </div>
          <div
            class="col-12 col-md-4 btn btn-success py-2 btn-edit-last fw-bold"
            href="#modalAddCatNamePayment"
            data-bs-toggle="modal"
          >
            Sposoby płatności
          </div>
        </div>
        <hr class="hr-edit" />
        <div class="w-100 h5 mb-2 text-center">usuwanie kategorii</div>
        <div class="row mb-3 row-edit">
          <div
            class="col-12 col-md-4 btn btn-danger py-2 btn-edit-first fw-bold"
            href="#modalRemCatNameIncomes"
            data-bs-toggle="modal"
          >
            Przychody
          </div>
          <div
            class="col-12 col-md-4 btn btn-danger py-2 btn-edit-mid fw-bold"
            href="#modalRemCatNameOutcomes"
            data-bs-toggle="modal"
          >
            Wydatki
          </div>
          <div
            class="col-12 col-md-4 btn btn-danger py-2 btn-edit-last fw-bold"
            href="#modalRemCatNamePayment"
            data-bs-toggle="modal"
          >
            Sposoby płatności
          </div>
        </div>
        <hr class="hr-edit" />
        <div class="w-100 h5 mb-2 text-center">edycja konta</div>
        {% if user.errors is not empty %}
        <div class="w-100 h6 mb-2 text-center">
            <p>Errors:</p>
            <ul>
                {% for error in user.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
        <div class="row mb-3 row-edit">
          <div
            class="col-12 btn btn-warning text-white py-2 mb-2 fw-bold"
            href="#modalEditAccount"
            data-bs-toggle="modal"
          >
            <i class="icon-tools"></i>dane użytkownika
          </div>
          <div
            class="col-12 btn btn-danger py-2 fw-bold"
            href="#modalRemAccount"
            data-bs-toggle="modal"
          >
            <i class="icon-cancel-squared"></i>usuń konto
          </div>
        </div>
      </div>
    </div>
  </main>

  <!-- modal - change category name incomes -->
  <div class="modal fade" id="modalChgCatNameIncomes" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header p-5 pb-4 border-bottom-0">
          <h1 class="fw-bold mb-0 fs-2">Edycja nazwy kategorii</h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
          ></button>
        </div>

        <div class="modal-body p-5 pt-0">
          <form class="" method="post" id="formUpdateIncomeCategory" onsubmit="dontSubmit(); return false;">
            <div class="form-floating mb-3">
              <select
                class="form-select"
                id="floatingSelectChgCatNameIncomes"
                name="id"
              >
                <option>wybierz</option>
                {% for category in incomes_categories %}
                  <option value="{{ category.id }}">
                    {{ category.name }}
                  </option>
                {% endfor %}
              </select>
              <label for="floatingSelectChgCatNameIncomes"
                >Kategoria przychodów</label
              >
            </div>
            <div class="form-floating mb-3">
              <input
                type="text"
                class="form-control rounded-3"
                id="floatingChgCatNameIncomes"
                placeholder="Nowa nazwa kategorii"
                name="name"
              />
              <label for="floatingChgCatNameIncomes"
                >Nowa nazwa kategorii przychodów</label
              >
            </div>
            <button
              class="w-100 mb-2 btn btn-lg rounded-3 btn-primary"
              id="buttonUpdateIncomesCategory"
              type="submit"
              data-bs-dismiss="modal"
            >
              Zmień
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- modal - change category name expenses -->
  <div class="modal fade" id="modalChgCatNameExpenses" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header p-5 pb-4 border-bottom-0">
          <h1 class="fw-bold mb-0 fs-2">Edycja nazwy kategorii</h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
          ></button>
        </div>

        <div class="modal-body p-5 pt-0">
          <form class="">
            <div class="form-floating mb-3">
              <select
                class="form-select"
                id="floatingSelectChgCatNameOutcomes"
              >
                <option selected>Wybierz kategorię</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
              <label for="floatingSelectChgCatNameOutcomes"
                >Kategoria wydatków</label
              >
            </div>
            <div class="form-floating mb-3">
              <input
                type="text"
                class="form-control rounded-3"
                id="floatingChgCatNameOutcomes"
                placeholder="Nowa nazwa kategorii"
              />
              <label for="floatingChgCatNameOutcomes"
                >Nowa nazwa kategorii wydatków</label
              >
            </div>
            <button
              class="w-100 mb-2 btn btn-lg rounded-3 btn-primary"
              type="submit"
            >
              Zmień
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- modal - change category name payment -->
  <div class="modal fade" id="modalChgCatNamePayment" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header p-5 pb-4 border-bottom-0">
          <h1 class="fw-bold mb-0 fs-2">Edycja nazwy kategorii</h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
          ></button>
        </div>

        <div class="modal-body p-5 pt-0">
          <form class="">
            <div class="form-floating mb-3">
              <select
                class="form-select"
                id="floatingSelectChgCatNamePayment"
              >
                <option selected>Wybierz kategorię</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
              <label for="floatingSelectChgCatNamePayment"
                >Kategoria sposobów płatności</label
              >
            </div>
            <div class="form-floating mb-3">
              <input
                type="text"
                class="form-control rounded-3"
                id="floatingChgCatNamePayment"
                placeholder="Nowa nazwa kategorii"
              />
              <label for="floatingChgCatNamePayment"
                >Nowa nazwa kategorii płatności</label
              >
            </div>
            <button
              class="w-100 mb-2 btn btn-lg rounded-3 btn-primary"
              type="submit"
            >
              Zmień
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- modal - add category name incomes -->
  <div class="modal fade" id="modalAddCatNameIncomes" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header p-5 pb-4 border-bottom-0">
          <h1 class="fw-bold mb-0 fs-2">Dodawanie kategorii</h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
          ></button>
        </div>

        <div class="modal-body p-5 pt-0">
          <form class="" method="post" id="formAddIncomeCategory" onsubmit="dontSubmit(); return false;">
            <div class="form-floating mb-3">
              <input
                type="text"
                class="form-control rounded-3"
                id="floatingAddCatNameIncomes"
                placeholder="Nazwa kategorii"
              />
              <label for="floatingAddCatNameIncomes"
                >Nazwa kategorii przychodów</label
              >
            </div>
            <button
              class="w-100 mb-2 btn btn-lg rounded-3 btn-success"
              type="submit"
              id="buttonAddIncomesCategory"
              data-bs-dismiss="modal"
            >
              Dodaj
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- modal - add category name expenses -->
  <div class="modal fade" id="modalAddCatNameExpenses" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header p-5 pb-4 border-bottom-0">
          <h1 class="fw-bold mb-0 fs-2">Dodawanie kategorii</h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
          ></button>
        </div>

        <div class="modal-body p-5 pt-0">
          <form class="">
            <div class="form-floating mb-3">
              <input
                type="text"
                class="form-control rounded-3"
                id="floatingAddCatNameOutcomes"
                placeholder="Nazwa kategorii"
              />
              <label for="floatingAddCatNameOutcomes"
                >Nazwa kategorii wydatków</label
              >
            </div>
            <button
              class="w-100 mb-2 btn btn-lg rounded-3 btn-success"
              type="submit"
            >
              Dodaj
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- modal - add category name payment -->
  <div class="modal fade" id="modalAddCatNamePayment" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header p-5 pb-4 border-bottom-0">
          <h1 class="fw-bold mb-0 fs-2">Dodawanie kategorii</h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
          ></button>
        </div>

        <div class="modal-body p-5 pt-0">
          <form class="">
            <div class="form-floating mb-3">
              <input
                type="text"
                class="form-control rounded-3"
                id="floatingAddCatNamePayment"
                placeholder="Nazwa kategorii"
              />
              <label for="floatingAddCatNamePayment"
                >Nazwa kategorii sposobów płatności</label
              >
            </div>
            <button
              class="w-100 mb-2 btn btn-lg rounded-3 btn-success"
              type="submit"
            >
              Dodaj
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- modal - remove category name incomes -->
  <div class="modal fade" id="modalRemCatNameIncomes" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header p-5 pb-4 border-bottom-0">
          <h1 class="fw-bold mb-0 fs-2 w-100">Usuwanie kategorii</h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
          ></button>
        </div>

        <div class="modal-body p-5 pt-0">
          <form class="" method="post" id="formRemoveIncomeCategory" onsubmit="dontSubmit(); return false;">
            <div class="form-floating mb-3">
              <select
                class="form-select"
                id="floatingSelectRemCatNameIncomes"
              >
                <option selected>Wybierz kategorię</option>
                {% for category in incomes_categories %}
                  <option value="{{ category.id }}">
                    {{ category.name }}
                  </option>
                {% endfor %}
              </select>
              <label for="floatingSelectRemCatNameIncomes"
                >Kategoria przychodów</label
              >
            </div>
            <button
              class="w-100 mb-2 btn btn-lg rounded-3 btn-danger"
              type="submit"
              id="buttonRemoveIncomesCategory"
              data-bs-dismiss="modal"
            >
              Usuń
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- modal - remove category name expenses -->
  <div class="modal fade" id="modalRemCatNameExpenses" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header p-5 pb-4 border-bottom-0">
          <h1 class="fw-bold mb-0 fs-2 w-100">Usuwanie kategorii</h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
          ></button>
        </div>

        <div class="modal-body p-5 pt-0">
          <form class="">
            <div class="form-floating mb-3">
              <select
                class="form-select"
                id="floatingSelectRemCatNameOutcomes"
              >
                <option selected>Wybierz kategorię</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
              <label for="floatingSelectRemCatNameOutcomes"
                >Kategoria wydatków</label
              >
            </div>
            <button
              class="w-100 mb-2 btn btn-lg rounded-3 btn-danger"
              type="submit"
            >
              Usuń
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- modal - remove category name payment -->
  <div class="modal fade" id="modalRemCatNamePayment" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header p-5 pb-4 border-bottom-0">
          <h1 class="fw-bold mb-0 fs-2 w-100">Usuwanie kategorii</h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
          ></button>
        </div>

        <div class="modal-body p-5 pt-0">
          <form class="">
            <div class="form-floating mb-3">
              <select
                class="form-select"
                id="floatingSelectRemCatNamePayment"
              >
                <option selected>Wybierz kategorię</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
              <label for="floatingSelectRemCatNamePayment"
                >Kategoria sposobów płatności</label
              >
            </div>
            <button
              class="w-100 mb-2 btn btn-lg rounded-3 btn-danger"
              type="submit"
            >
              Usuń
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- modal - edit account -->
  <div class="modal fade" id="modalEditAccount" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header p-5 pb-4 border-bottom-0">
          <h1 class="fw-bold mb-0 fs-2">Edycja konta</h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
          ></button>
        </div>

        <div class="modal-body p-5 pt-0">
          <form class="" method="post" action="/settings/updateAccount" id="formUpdateAccount">
            <!-- <small class="text-muted"
              >Podaj nowe dane, tylko te, które chcesz zmienić. <br />
              Pozostałe pozostaw puste</small
            >
            <hr /> -->

            <div class="form-floating mb-3">
                <input
                    type="text"
                    class="form-control"
                    id="inputName"
                    name="name"
                    placeholder="Imię"
                    autocomplete="off"
                    value="{{ user.name }}"
                />
            </div>

            <div class="form-floating mb-3">
                <input
                  type="email"
                  class="form-control"
                  id="inputEmail"
                  name="email"
                  placeholder="Adres email"
                  autocomplete="off"
                  value="{{ user.email }}"
                />
            </div>
    
            <div class="input-group mb-3">
                <div class="form-floating">
                    <input
                    type="password"
                    class="form-control"
                    id="inputPassword"
                    name="password"
                    placeholder="Hasło"
                    aria-label="Hasło"
                    aria-describedby="inputPasswordBtn"
                    autocomplete="off"
                    />
                </div>
                <button
                  onclick="passShowHideReg()"
                  class="btn btn-outline-secondary"
                  type="button"
                  id="inputPasswordBtn"
                >Pokaż</button>
            </div>

            <button
              class="w-100 mb-2 btn btn-lg rounded-3 btn-warning text-white"
              type="submit"
            >
              Dokonaj zmian
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- modal - remove account -->
  <div class="modal fade" id="modalRemAccount" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header p-5 pb-4 border-bottom-0">
          <h1 class="fw-bold mb-0 fs-2 w-100">Usuwanie Konta</h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
          ></button>
        </div>

        <div class="modal-body p-5 pt-0">
          <form class="" method="post" action="/settings/removeAccount" id="formRemoveAccount">
            <div class="w-100 my-5"></div>
            <button
              class="w-100 mb-2 mt-5 btn btn-lg rounded-3 btn-danger"
              type="submit"
            >
              Usuń Konto
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}