{% extends 'base.html' %} 

{% block title %}Home{% endblock %} 

{% block link %}
<link href="/fontello/css/fontello.css" rel="stylesheet" />
{% endblock %}

{% block footer %}
<script src="/js/app.js"></script>

<script>

    var flash_message_id = 0;
    var id_to_delete = 0;

    setTimeout(function(){
          $('.flash_messages').remove();
        }, 3000);

    function dontSubmit() {
      //return false;
    }

    function updateIncomesCategoryList(data)
    {
      console.log(data);
      let table_rows = document.querySelectorAll("#tableIncomesCategories tr");
      for(let i = 0; i<table_rows.length; i++) {
        table_rows[i].remove();
      }
     
      let table_body = document.querySelector("#tableIncomesCategories tbody");
      for (let i = 0; i < data.categories.length; i++) {
        table_body.insertAdjacentHTML( "beforeend", `
          <tr>
            <td>${data.categories[i].name}</td>
            <td hidden>${data.categories[i].id}</td>
            <td href="#modalChgCatNameIncomes" data-bs-toggle="modal">
              <a class="dropdown-item editingTRbutton">
                <i class="icon-pencil"></i>
              </a>
            </td>
            <td href="#modalRemCatNameIncomes" data-bs-toggle="modal">
              <a class="dropdown-item removingTRbutton">
                <i class="icon-trash"></i>
              </a></a>
            </td>
          </tr>`);
      }
    }

    function updateExpensesCategoryList(data)
    {
      console.log(data);
      // Update List
      // remove select options
      $("#floatingSelectChgCatNameExpenses")
        .find('option').remove().end()
        .append('<option value="">wybierz</option>').val('');  
      // fill with updated category options
      for (var i = 0; i < data.categories.length; i++) {
        $('#floatingSelectChgCatNameExpenses').append('<option value="' + data.categories[i].id + '">' + data.categories[i].name + '</option>');
      }

      // Remove List
      // remove select options
      $("#floatingSelectRemCatNameExpenses")
        .find('option').remove().end()
        .append('<option value="">wybierz</option>').val(''); 
      // fill with updated category options
      for (var i = 0; i < data.categories.length; i++) {
        $('#floatingSelectRemCatNameExpenses').append('<option value="' + data.categories[i].id + '">' + data.categories[i].name + '</option>');
      }
    }

    function updatePaymentMethodsList(data)
    {
      console.log(data);
      // Update List
      // remove select options
      $("#floatingSelectChgCatNamePayment")
        .find('option').remove().end()
        .append('<option value="">wybierz</option>').val('');  
      // fill with updated category options
      for (var i = 0; i < data.categories.length; i++) {
        $('#floatingSelectChgCatNamePayment').append('<option value="' + data.categories[i].id + '">' + data.categories[i].name + '</option>');
      }

      // Remove List
      // remove select options
      $("#floatingSelectRemCatNamePayment")
        .find('option').remove().end()
        .append('<option value="">wybierz</option>').val(''); 
      // fill with updated category options
      for (var i = 0; i < data.categories.length; i++) {
        $('#floatingSelectRemCatNamePayment').append('<option value="' + data.categories[i].id + '">' + data.categories[i].name + '</option>');
      }
    }

    function printFlashMessages(data)
    {
      // remove flash messages
      //$(".alert").remove();
      var flash_id;
      // print new alerts
      for (var i = 0; i< data.flash_message_body.length; i++) {
        flash_id = 'flash_message_id' + flash_message_id;
        $(".flash_messages_print_from_ajax").append('<div id="' + flash_id + '" class="alert alert-' + data.flash_message_type[0] + '">'
                                  + data.flash_message_body[0] +
                                '</div>');
        setTimeout(function(){
          $('#' + flash_id).remove();
        }, 8000);

        flash_message_id++;
      }
    }

    $(document).ready(function () {

        $("#formUpdateAccount").validate({
        errorClass: "is-invalid",
            rules: {
                //name: "required",
                email: {
                //required: true,
                email: true,
                remote: "/account/validate-email",
                },
                password: {
                //required: true,
                minlength: 6,
                validPassword: true,
                },
            },
            messages: {
                name: {
                required: "Podaj swoje imię",
                },
                email: {
                //required: "Podaj adres email",
                email: "Adres email jest niepoprawny",
                remote: "Podany adres email jest już zajęty",
                },
                password: {
                //required: "Podaj hasło",
                minlength: "Hasło powinno składać się z min. 6 znaków",
                validPassword: "Hasło musi zawierać litery i min 1 cyfrę",
                }
            },
        });

        document.getElementById("tableIncomesCategories").
        addEventListener("click", function(ele) {

          if (ele.target.className === "icon-pencil") {

            tr = ele.target.parentNode.parentNode.parentNode;
            console.log(name);

            let id = tr.cells[2].textContent;
            let name = tr.cells[1].textContent;

            document.getElementById("floatingAddCatNameIncomes").value = name;

            }
        });

        document.getElementById("buttonAddIncomesCategory").
        addEventListener("click", async () => {

          $("#modalAddCatNameIncomes").modal("hide");

          let name = document.getElementById("floatingAddCatNameIncomes").value;

          const inData = { name: name };

          try { 
            const res = await fetch(`/Settings/addIncomeCategory`, {
                method: 'post',
                body: JSON.stringify(inData)
            })
            const data = await res.json();
            updateIncomesCategoryList(data);
            document.getElementById("floatingAddCatNameIncomes").value = '';
            printFlashMessages(data);
          } catch (e) {
            console.log('ERROR: ', e);
          }
        });

        $("#buttonUpdateIncomesCategory").on("click", function(e) {
          
          var id = $("#floatingSelectChgCatNameIncomes").val();
          var name = $("#floatingChgCatNameIncomes").val();

          $.ajax({
            url: '/Settings/updateIncomeCategory',
            type: 'POST',
            data: { id: id,
                    name: name
                  }
          })
          .done(function(data) {
            var data = $.parseJSON(data);
            updateIncomesCategoryList(data);
            // clear text input
            $("#floatingChgCatNameIncomes").val('');
            printFlashMessages(data);
          });
        });

        $("#buttonRemoveIncomesCategory").on("click", function(e) {
          
          id_to_delete = $("#floatingSelectRemCatNameIncomes").val();
          var force = 'n';

          $.ajax({
            url: '/Settings/deleteIncomeCategory',
            type: 'POST',
            data: { id: id_to_delete,
                    force: force
                  }
          })
          .done(function(data) {
            var data = $.parseJSON(data);
            updateIncomesCategoryList(data);
            printFlashMessages(data);
            if(data.flash_message_type[0] === 'warning')
            {
              $("#modalRemCatNameIncomesAccept").modal('show');
              $("#RemoveIncomeCategoryAcceptNote").html('kategoria: "' + data.category_name + '" zawiera: ' + data.transactions + ' transakcji, usunięcie kategorii spowoduje również usunięcie tych tansakcji!');
            }
          });
        });

        $("#buttonRemoveIncomesCategoryAccept").on("click", function(e) {

          var force = 'y';

          $.ajax({
            url: '/Settings/deleteIncomeCategory',
            type: 'POST',
            data: { id: id_to_delete,
                    force: force
                  }
          })
          .done(function(data) {
            var data = $.parseJSON(data);
            updateIncomesCategoryList(data);
            printFlashMessages(data);
          });
        });

        $("#buttonAddExpensesCategory").on("click", function(e) {
          
          var name = $("#floatingAddCatNameExpenses").val();

          $.ajax({
            url: '/Settings/addExpenseCategory',
            type: 'POST',
            data: { name: name }
          })
          .done(function(data) {
            var data = $.parseJSON(data);
            updateExpensesCategoryList(data);
            // clear text input
            $("#floatingAddCatNameExpenses").val('');
            printFlashMessages(data);
          });
        });

        $("#buttonUpdateExpensesCategory").on("click", function(e) {
          
          var id = $("#floatingSelectChgCatNameExpenses").val();
          var name = $("#floatingChgCatNameExpenses").val();

          $.ajax({
            url: '/Settings/updateExpenseCategory',
            type: 'POST',
            data: { id: id,
                    name: name
                  }
          })
          .done(function(data) {
            var data = $.parseJSON(data);
            updateExpensesCategoryList(data);
            // clear text input
            $("#floatingChgCatNameExpenses").val('');
            printFlashMessages(data);
          });
        });

        $("#buttonRemoveExpensesCategory").on("click", function(e) {
          
          id_to_delete = $("#floatingSelectRemCatNameExpenses").val();
          var force = 'n';
          
          $.ajax({
            url: '/Settings/deleteExpenseCategory',
            type: 'POST',
            data: { id: id_to_delete,
                    force: force
                  }
          })
          .done(function(data) {
            var data = $.parseJSON(data);
            updateExpensesCategoryList(data);
            printFlashMessages(data);
            if(data.flash_message_type[0] === 'warning')
            {
              $("#RemoveExpenseCategoryAcceptNote").html('kategoria: "' + data.category_name + '" zawiera: ' + data.transactions + ' transakcji, usunięcie kategorii spowoduje również usunięcie tych tansakcji!');
              $("#modalRemCatNameExpensesAccept").modal('show');
            }
          });
        });

        $("#buttonRemoveExpensesCategoryAccept").on("click", function(e) {
          
          var force = 'y';

          $.ajax({
            url: '/Settings/deleteExpenseCategory',
            type: 'POST',
            data: { id: id_to_delete,
                    force: force
                  }
          })
          .done(function(data) {
            var data = $.parseJSON(data);
            updateExpensesCategoryList(data);
            printFlashMessages(data);
          });
        });

        $("#buttonAddPaymentMethod").on("click", function(e) {
          
          var name = $("#floatingAddCatNamePayment").val();

          $.ajax({
            url: '/Settings/addPaymentMethod',
            type: 'POST',
            data: { name: name }
          })
          .done(function(data) {
            var data = $.parseJSON(data);
            updatePaymentMethodsList(data);
            // clear text input
            $("#floatingAddCatNamePayment").val('');
            printFlashMessages(data);
          });
        });

        $("#buttonUpdatePaymentMethod").on("click", function(e) {
          
          var id = $("#floatingSelectChgCatNamePayment").val();
          var name = $("#floatingChgCatNamePayment").val();

          $.ajax({
            url: '/Settings/updatePaymentMethod',
            type: 'POST',
            data: { id: id,
                    name: name
                  }
          })
          .done(function(data) {
            var data = $.parseJSON(data);
            updatePaymentMethodsList(data);
            // clear text input
            $("#floatingChgCatNamePayment").val('');
            printFlashMessages(data);
          });
        });

        $("#buttonRemovePaymentMethod").on("click", function(e) {
          
          id_to_delete = $("#floatingSelectRemCatNamePayment").val();
          var force = 'n';

          $.ajax({
            url: '/Settings/deletePaymentMethod',
            type: 'POST',
            data: { id: id_to_delete,
                    force: force
                  }
          })
          .done(function(data) {
            var data = $.parseJSON(data);
            updatePaymentMethodsList(data);
            printFlashMessages(data);
            if(data.flash_message_type[0] === 'warning')
            {
              $("#RemovePaymentMethodAcceptNote").html('kategoria: "' + data.category_name + '" zawiera: ' + data.transactions + ' transakcji, usunięcie kategorii spowoduje również usunięcie tych tansakcji!');
              $("#modalRemCatNamePaymentAccept").modal('show');
            }
          });
        });

        $("#buttonRemovePaymentMethodAccept").on("click", function(e) {
          
          var force = 'y';

          $.ajax({
            url: '/Settings/deletePaymentMethod',
            type: 'POST',
            data: { id: id_to_delete,
                    force: force
                  }
          })
          .done(function(data) {
            var data = $.parseJSON(data);
            updatePaymentMethodsList(data);
            printFlashMessages(data);
          });
        });

        setInterval(removeDefaultLabelOnValidateError, 1);
    });

    function passShowHideReg() {
        var pass_shreg = document.getElementById("inputPassword");
        if (pass_shreg.type == "password") pass_shreg.type = "text";
        else pass_shreg.type = "password";
        var btnreg = document.getElementById("inputPasswordBtn");
        if (btnreg.innerHTML == "Pokaż") btnreg.innerHTML = "Ukryj";
        else btnreg.innerHTML = "Pokaż";
    }

    function removeDefaultLabelOnValidateError() {
        if ($("#inputName").hasClass("is-invalid")) {
            $("#inputNameLabel").remove();
        } else {
            if (document.getElementById("inputNameLabel") === null) {
                $("#inputName").after(
                '<label id="inputNameLabel" for="inputName">Imię</label>'
                );
            }
        }

        if ($("#inputEmail").hasClass("is-invalid")) {
            $("#inputEmailLabel").remove();
        } else {
            if (document.getElementById("inputEmailLabel") === null) {
                $("#inputEmail").after(
                '<label id="inputEmailLabel" for="inputEmail">Adres email</label>'
                );
            }
        }

        if ($("#inputPassword").hasClass("is-invalid")) {
            $("#inputPasswordLabel").remove();
        } else {
            if (document.getElementById("inputPasswordLabel") === null) {
                $("#inputPassword").after(
                '<label id="inputPasswordLabel" for="inputPassword">Hasło</label>'
                );
            }
        }
    }
</script>
{% endblock %}

{% block body %}
<main class="container">
    <div class="bg-light px-5 py-4 mb-5 rounded">
      <div class="row">

        <!-- ACCORDIO ACCOUNT -->
        <div class="accordion mb-1" id="accordionAccount">
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingAccordionAccount">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseAccordionAccount" aria-expanded="false" aria-controls="collapseAccordionAccount">
                KONTO
              </button>
            </h2>
            <div id="collapseAccordionAccount" class="accordion-collapse collapse" aria-labelledby="headingAccordionAccount" data-bs-parent="#accordionAccount">
              <div class="accordion-body">

                <div
                  class="col-12 col-md-4 table-item mb-3 py-2 fw-bold w-100"
                  href="#modalEditAccountName"
                  data-bs-toggle="modal"
                >
                Zmień imię
                </div>

                <div
                  class="col-12 col-md-4 table-item mb-3 py-2 fw-bold w-100"
                  href="#modalEditAccountEmail"
                  data-bs-toggle="modal"
                >
                  Zmień adres email
                </div>

                <div
                  class="col-12 col-md-4 table-item mb-3 py-2 fw-bold w-100"
                  href="#modalEditAccountPassword"
                  data-bs-toggle="modal"
                >
                  Zmień hasło
                </div>

                <div
                  class="col-12 col-md-4 table-item py-2 fw-bold w-100"
                  href="#modalRemAccount"
                  data-bs-toggle="modal"
                >
                  Usuń konto
                </div>

              </div>
            </div>
          </div>
        </div>

        <!-- ACCORDIONS CATEGORIES -->
        <div class="row mb-3 row-edit">
          <div class="col-12 col-md-4 py-2 fw-bold">
            <div class="accordion mb-1" id="accordionIncomes">
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingAccordionIncomes">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseAccordionIncomes" aria-expanded="false" aria-controls="collapseAccordionIncomes">
                    KATEGORIE PRZYCHODÓW
                  </button>
                </h2>
                <div id="collapseAccordionIncomes" class="accordion-collapse collapse" aria-labelledby="headingAccordionIncomes" data-bs-parent="#accordionIncomes">
                  <div class="accordion-body">
                    <div
                      class="col-12 col-md-4 table-item mb-3 py-2 fw-bold w-100"
                      href="#modalAddCatNameIncomes"
                      data-bs-toggle="modal"
                    >
                    Dodaj nową <i class="icon-plus"></i>
                    </div>
                    <table id="tableIncomesCategories" class="rounded-corners">
                      {% for category in incomes_categories %}
                      <tr>
                          <td>{{ category.name }}</td>
                          <td hidden>{{ category.id }}</td>
                          <td href="#modalChgCatNameIncomes" data-bs-toggle="modal">
                            <a class="dropdown-item editingTRbutton">
                              <i class="icon-pencil"></i>
                            </a>
                          </td>
                          <td href="#modalRemCatNameIncomes" data-bs-toggle="modal">
                            <a class="dropdown-item removingTRbutton">
                              <i class="icon-trash"></i>
                            </a></a>
                          </td>
                      </tr>
                      {% endfor %}
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-4 py-2 fw-bold">
            <div class="accordion mb-1" id="accordionExpenses">
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingAccordionExpeneses">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseAccordionExpenses" aria-expanded="false" aria-controls="collapseAccordionExpenses">
                    KATEGORIE WYDATKÓW
                  </button>
                </h2>
                <div id="collapseAccordionExpenses" class="accordion-collapse collapse" aria-labelledby="headingAccordionExpeneses" data-bs-parent="#accordionExpenses">
                  <div class="accordion-body">
                    <div
                      class="col-12 col-md-4 table-item mb-3 py-2 fw-bold w-100"
                      href="#modalAddCatNameExpenses"
                      data-bs-toggle="modal"
                    >
                    Dodaj nową <i class="icon-plus"></i>
                    </div>
                    <table class="rounded-corners">
                      {% for category in expenses_categories %}
                      <tr>
                          <td class="expenses-limit">
                            {{ category.name }}
                            </br>
                            <small class="text-muted">limit: 9999.99</small>
                          </td>
                          <td hidden>{{ category.id }}</td>
                          <!-- <td>limit: XXXX</td> -->
                          <td href="#modalChgCatNameExpenses" data-bs-toggle="modal">
                            <a class="dropdown-item editingTRbutton">
                              <i class="icon-pencil"></i>
                            </a>
                          </td>
                          <td href="#modalRemCatNameExpenses" data-bs-toggle="modal">
                            <a class="dropdown-item removingTRbutton">
                              <i class="icon-trash"></i>
                            </a></a>
                          </td>
                      </tr>
                      {% endfor %}
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-4 py-2 fw-bold">
            <div class="accordion mb-1" id="accordionPaymentMethods">
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingAccordionPaymentMethods">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseAccordionPaymentMethods" aria-expanded="false" aria-controls="collapseAccordionPaymentMethods">
                    METODY PŁATNOŚCI
                  </button>
                </h2>
                <div id="collapseAccordionPaymentMethods" class="accordion-collapse collapse" aria-labelledby="headingAccordionPaymentMethods" data-bs-parent="#accordionPaymentMethods">
                  <div class="accordion-body">
                    <div
                      class="col-12 col-md-4 table-item mb-3 py-2 fw-bold w-100"
                      href="#modalAddCatNamePayment"
                      data-bs-toggle="modal"
                    >
                    Dodaj nową <i class="icon-plus"></i>
                    </div>
                    <table class="rounded-corners">
                      {% for method in payment_methods %}
                      <tr>
                          <td>{{ method.name }}</td>
                          <td hidden>{{ method.id }}</td>
                          <td href="#modalChgCatNamePayment" data-bs-toggle="modal">
                            <a class="dropdown-item editingTRbutton">
                              <i class="icon-pencil"></i>
                            </a>
                          </td>
                          <td href="#modalRemCatNamePayment" data-bs-toggle="modal">
                            <a class="dropdown-item removingTRbutton">
                              <i class="icon-trash"></i>
                            </a></a>
                          </td>
                      </tr>
                      {% endfor %}
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


        <!-- <div
          class="w-100 h2 mb-3 text-center bg-dark rounded text-secondary py-2 mt-3"
        >
          Opcje edycji
        </div>
        <hr class="hr-edit" />
        <div class="w-100 h5 mb-2 text-center">zmiana nazwy kategorii</div>
        <div class="row mb-3 row-edit">
          <div
            class="col-12 col-md-4 btn btn-primary py-2 btn-edit-first fw-bold"
            href="#modalChgCatNameIncomes"
            data-bs-toggle="modal"
          >
            Przychody
          </div>
          <div
            class="col-12 col-md-4 btn btn-primary py-2 btn-edit-mid fw-bold"
            href="#modalChgCatNameExpenses"
            data-bs-toggle="modal"
          >
            Wydatki
          </div>
          <div
            class="col-12 col-md-4 btn btn-primary py-2 btn-edit-last fw-bold"
            href="#modalChgCatNamePayment"
            data-bs-toggle="modal"
          >
            Sposoby płatności
          </div>
        </div>
        <hr class="hr-edit" />
        <div class="w-100 h5 mb-2 text-center">dodanie kategorii</div>
        <div class="row mb-3 row-edit">
          <div
            class="col-12 col-md-4 btn btn-success py-2 btn-edit-first fw-bold"
            href="#modalAddCatNameIncomes"
            data-bs-toggle="modal"
          >
            Przychody
          </div>
          <div
            class="col-12 col-md-4 btn btn-success py-2 btn-edit-mid fw-bold"
            href="#modalAddCatNameExpenses"
            data-bs-toggle="modal"
          >
            Wydatki
          </div>
          <div
            class="col-12 col-md-4 btn btn-success py-2 btn-edit-last fw-bold"
            href="#modalAddCatNamePayment"
            data-bs-toggle="modal"
          >
            Sposoby płatności
          </div>
        </div>
        <hr class="hr-edit" />
        <div class="w-100 h5 mb-2 text-center">usuwanie kategorii</div>
        <div class="row mb-3 row-edit">
          <div
            class="col-12 col-md-4 btn btn-danger py-2 btn-edit-first fw-bold"
            href="#modalRemCatNameIncomes"
            data-bs-toggle="modal"
          >
            Przychody
          </div>
          <div
            class="col-12 col-md-4 btn btn-danger py-2 btn-edit-mid fw-bold"
            href="#modalRemCatNameExpenses"
            data-bs-toggle="modal"
          >
            Wydatki
          </div>
          <div
            class="col-12 col-md-4 btn btn-danger py-2 btn-edit-last fw-bold"
            href="#modalRemCatNamePayment"
            data-bs-toggle="modal"
          >
            Sposoby płatności
          </div>
        </div>
        <hr class="hr-edit" />
        <div class="w-100 h5 mb-2 text-center">edycja konta</div>

        {% if user.errors is not empty %}
        <div class="w-100 h6 mb-2 text-center">
            <p>Errors:</p>
            <ul>
                {% for error in user.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}

        <div class="row mb-3 row-edit">
          <div
            class="col-12 btn btn-warning text-white py-2 mb-2 fw-bold"
            href="#modalEditAccount"
            data-bs-toggle="modal"
          >
            <i class="icon-tools"></i>dane użytkownika
          </div>
          <div
            class="col-12 btn btn-danger py-2 fw-bold"
            href="#modalRemAccount"
            data-bs-toggle="modal"
          >
            <i class="icon-cancel-squared"></i>usuń konto
          </div>
        </div> -->

      </div>
    </div>
  </main>

  <!-- modal - change category incomes -->
  <div class="modal fade" id="modalChgCatNameIncomes" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content settings-modal-bg">
        <div class="modal-header p-5 pb-4 border-bottom-0">
          <h1 class="fw-bold mb-0 fs-2 text-white">Edycja nazwy kategorii</h1>
          <button
            type="button"
            class="btn-close btn-close-white"
            data-bs-dismiss="modal"
          ></button>
        </div>

        <div class="modal-body p-5 pt-0">
          <form class="" method="post" id="formUpdateIncomeCategory" onsubmit="dontSubmit(); return false;">
            <div class="form-floating mb-3">
              <!-- <select
                class="form-select"
                id="floatingSelectChgCatNameIncomes"
                name="id"
              >
                <option>wybierz</option>
                {% for category in incomes_categories %}
                  <option value="{{ category.id }}">
                    {{ category.name }}
                  </option>
                {% endfor %}
              </select>
              <label for="floatingSelectChgCatNameIncomes"
                >Kategoria przychodów</label
              > -->
              <input 
                type="text"
                class="form-control rounded-3 fw-bold"
                id="floatingChgCatNameIncomesCurrent"
                placeholder="Salary"
                value="Salary"
                disabled/>
              <label for="floatingChgCatNameIncomesCurrent">Obecna nazwa kategorii</label>
            </div>
            <div class="form-floating mb-3">
              <input
                type="text"
                class="form-control rounded-3 fw-bold"
                id="floatingChgCatNameIncomes"
                placeholder="Nowa nazwa kategorii"
                name="name"
              />
              <label for="floatingChgCatNameIncomes">Nowa nazwa kategorii</label>
            </div>
            <button
              class="w-100 mb-2 btn btn-lg rounded-3 btn-success fw-bold"
              id="buttonUpdateIncomesCategory"
              type="submit"
              data-bs-dismiss="modal"
            >
              Zmień
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- modal - change category expenses -->
  <div class="modal fade" id="modalChgCatNameExpenses" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content settings-modal-bg">
        <div class="modal-header p-5 pb-4 border-bottom-0">
          <h1 class="fw-bold mb-0 fs-2 text-white">Edycja kategorii</h1>
          <button
            type="button"
            class="btn-close btn-close-white"
            data-bs-dismiss="modal"
          ></button>
        </div>

        <div class="modal-body p-5 pt-0">
          <form class="" method="post" id="formUpdateExpenseCategory" onsubmit="dontSubmit(); return false;">
            <div class="form-floating mb-3">
              <!-- <select
                class="form-select"
                id="floatingSelectChgCatNameExpenses"
                name="id"
              >
                <option selected>Wybierz kategorię</option>
                {% for category in expenses_categories %}
                  <option value="{{ category.id }}">
                    {{ category.name }}
                  </option>
                {% endfor %}
              </select>
              <label for="floatingSelectChgCatNameExpenses"
                >Kategoria wydatków</label
              > -->
              <input 
                type="text"
                class="form-control rounded-3 fw-bold"
                id="floatingChgCatNameExpenseCurrent"
                placeholder="Transport"
                value="Transport"
                disabled/>
              <label for="floatingChgCatNameExpenseCurrent">Obecna nazwa kategorii</label>
            </div>

            <div class="form-floating mb-3">
              <input
                type="text"
                class="form-control rounded-3 fw-bold"
                id="floatingChgCatNameExpenses"
                placeholder="Nowa nazwa kategorii"
                name="name"
              />
              <label for="floatingChgCatNameOutcomes">Nowa nazwa kategorii wydatków</label>
            </div>

            <div class="form-check mb-3">
                <input
                  type="checkbox"
                  name="limitCheckbox"
                  class="form-check-input"
                  id="limitCheckboxChangeExpenseCategory"
                  checked
                />
                <label class="form-check-label text-white" for="limitCheckboxChangeExpenseCategory">Limit</label>
            </div>

            <div class="form-floating mb-3">
              <input
                type="number"
                class="form-control rounded-3 fw-bold"
                id="floatingChgCatLimitExpenses"
                placeholder="Wartość limitu"
                name="name"
                value="9999.99"
                step="0.01"
                disabled
              />
              <label for="floatingChgCatLimitExpenses">Wartość limitu</label>
            </div>

            <button
              class="w-100 mb-2 btn btn-lg rounded-3 btn-success fw-bold"
              type="submit"
              id="buttonUpdateExpensesCategory"
              data-bs-dismiss="modal"
            >
              Zmień
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- modal - change category payment -->
  <div class="modal fade" id="modalChgCatNamePayment" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content settings-modal-bg">
        <div class="modal-header p-5 pb-4 border-bottom-0">
          <h1 class="fw-bold mb-0 fs-2 text-white">Edycja nazwy kategorii</h1>
          <button
            type="button"
            class="btn-close btn-close-white"
            data-bs-dismiss="modal"
          ></button>
        </div>

        <div class="modal-body p-5 pt-0">
          <form class="" method="post" id="formUpdatePaymentMethod" onsubmit="dontSubmit(); return false;">
            <div class="form-floating mb-3">
              <!-- <select
                class="form-select"
                id="floatingSelectChgCatNamePayment"
                name="id"
              >
                <option selected>Wybierz kategorię</option>
                {% for methods in payment_methods %}
                  <option value="{{ methods.id }}">
                    {{ methods.name }}
                  </option>
                {% endfor %}
              </select>
              <label for="floatingSelectChgCatNamePayment"
                >Kategoria sposobów płatności</label
              > -->
              <input 
                type="text"
                class="form-control rounded-3 fw-bold"
                id="floatingChgCatNamePaymentCurrent"
                placeholder="Cash"
                value="Cash"
                disabled/>
              <label for="floatingChgCatNamePaymentCurrent">Obecna nazwa kategorii</label>
            </div>
            <div class="form-floating mb-3">
              <input
                type="text"
                class="form-control rounded-3 fw-bold"
                id="floatingChgCatNamePayment"
                placeholder="Nowa nazwa kategorii"
                name="name"
              />
              <label for="floatingChgCatNamePayment"
                >Nowa nazwa kategorii</label
              >
            </div>
            <button
              class="w-100 mb-2 btn btn-lg rounded-3 btn-success fw-bold"
              type="submit"
              id="buttonUpdatePaymentMethod"
              data-bs-dismiss="modal"
            >
              Zmień
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- modal - add category incomes -->
  <div class="modal fade" id="modalAddCatNameIncomes" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content settings-modal-bg">
        <div class="modal-header p-5 pb-4 border-bottom-0">
          <h1 class="fw-bold mb-0 fs-2 text-white">Dodawanie kategorii</h1>
          <button
            type="button"
            class="btn-close btn-close-white"
            data-bs-dismiss="modal"
          ></button>
        </div>

        <div class="modal-body p-5 pt-0">
          <form class="" method="post" id="formAddIncomeCategory" onsubmit="dontSubmit(); return false;">
            <div class="form-floating mb-3">
              <input
                type="text"
                class="form-control rounded-3 fw-bold"
                id="floatingAddCatNameIncomes"
                placeholder="np. loteria"
                name="name"
              />
              <label for="floatingAddCatNameIncomes"
                >Nazwa kategorii przychodów</label
              >
            </div>
            <button
              class="w-100 mb-2 btn btn-lg rounded-3 btn-success fw-bold text-white"
              type="submit"
              id="buttonAddIncomesCategory"
              data-bs-dismiss="modal"
            >
              Dodaj
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- modal - add category expenses -->
  <div class="modal fade" id="modalAddCatNameExpenses" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content settings-modal-bg">
        <div class="modal-header p-5 pb-4 border-bottom-0">
          <h1 class="fw-bold mb-0 fs-2 text-white">Dodawanie kategorii</h1>
          <button
            type="button"
            class="btn-close btn-close-white"
            data-bs-dismiss="modal"
          ></button>
        </div>

        <div class="modal-body p-5 pt-0">
          <form class="" method="post" id="formAddExpenseCategory" onsubmit="dontSubmit(); return false;">
            <div class="form-floating mb-3">

              <input
                type="text"
                class="form-control rounded-3 fw-bold"
                id="floatingAddCatNameExpenses"
                placeholder="np. wakacje"
                name="name"
              />
              <label for="floatingAddCatNameExpenses"
                >Nazwa kategorii wydatków</label
              >
            </div>

            <div class="form-check mb-3">
              <input
                type="checkbox"
                name="limitCheckbox"
                class="form-check-input"
                id="limitCheckboxAddNewExpenseCategory"
                checked
              />
              <label class="form-check-label text-white" for="limitCheckboxAddNewExpenseCategory">Limit</label>
            </div>

            <div class="form-floating mb-3">
              <input
                type="number"
                class="form-control rounded-3 fw-bold"
                id="floatingAddCatLimitExpenses"
                placeholder="Wartość limitu"
                name="name"
                value="9999.99"
                step="0.01"
                disabled
              />
              <label for="floatingAddCatLimitExpenses">Wartość limitu</label>
            </div>

            <button
              class="w-100 mb-2 btn btn-lg rounded-3 btn-success fw-bold text-white"
              type="submit"
              id="buttonAddExpensesCategory"
              data-bs-dismiss="modal"
            >
              Dodaj
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- modal - add category payment -->
  <div class="modal fade" id="modalAddCatNamePayment" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content settings-modal-bg">
        <div class="modal-header p-5 pb-4 border-bottom-0">
          <h1 class="fw-bold mb-0 fs-2 text-white">Dodawanie kategorii</h1>
          <button
            type="button"
            class="btn-close btn-close-white"
            data-bs-dismiss="modal"
          ></button>
        </div>

        <div class="modal-body p-5 pt-0">
          <form class="" method="post" id="formAddPaymentMethod" onsubmit="dontSubmit(); return false;">
            <div class="form-floating mb-3">
              <input
                type="text"
                class="form-control rounded-3 fw-bold"
                id="floatingAddCatNamePayment"
                placeholder="np. karta służbowa"
                name="name"
              />
              <label for="floatingAddCatNamePayment"
                >Nazwa metody płatności</label
              >
            </div>
            <button
              class="w-100 mb-2 btn btn-lg rounded-3 btn-success fw-bold text-white"
              type="submit"
              id="buttonAddPaymentMethod"
              data-bs-dismiss="modal"
            >
              Dodaj
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- modal - remove category incomes -->
  <div class="modal fade" id="modalRemCatNameIncomes" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content settings-modal-bg">
        <div class="modal-header p-5 pb-4 border-bottom-0">
          <h1 class="fw-bold mb-0 fs-2 w-100 text-white">Usuwanie kategorii</h1>
          <button
            type="button"
            class="btn-close btn-close-white"
            data-bs-dismiss="modal"
          ></button>
        </div>

        <div class="modal-body p-5 pt-0">
          <form class="" method="post" id="formRemoveIncomeCategory" onsubmit="dontSubmit(); return false;">
            <div class="form-floating mb-3">
              <!-- <select
                class="form-select"
                id="floatingSelectRemCatNameIncomes"
                name="id"
              >
                <option selected>Wybierz kategorię</option>
                {% for category in incomes_categories %}
                  <option value="{{ category.id }}">
                    {{ category.name }}
                  </option>
                {% endfor %}
              </select>
              <label for="floatingSelectRemCatNameIncomes"
                >Kategoria przychodów</label
              > -->
              <input 
                type="text"
                class="form-control rounded-3 fw-bold"
                id="floatingRemCatNameIncomes"
                placeholder="Salary"
                value="Salary"
                disabled/>
              <label for="floatingRemCatNameIncomes">Wybrana kategoria</label>
            </div>
            <button
              class="w-100 mb-2 btn btn-lg rounded-3 btn-danger fw-bold"
              type="submit"
              id="buttonRemoveIncomesCategory"
              data-bs-dismiss="modal"
            >
              Usuń
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- modal - remove category expenses -->
  <div class="modal fade" id="modalRemCatNameExpenses" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content settings-modal-bg">
        <div class="modal-header p-5 pb-4 border-bottom-0">
          <h1 class="fw-bold mb-0 fs-2 w-100 text-white">Usuwanie kategorii</h1>
          <button
            type="button"
            class="btn-close btn-close-white"
            data-bs-dismiss="modal"
          ></button>
        </div>

        <div class="modal-body p-5 pt-0">
          <form class="" method="post" id="formRemoveExpenseCategory" onsubmit="dontSubmit(); return false;">
            <div class="form-floating mb-3">
              <!-- <select
                class="form-select"
                id="floatingSelectRemCatNameExpenses"
                name="id"
              >
                <option selected>Wybierz kategorię</option>
                {% for category in expenses_categories %}
                  <option value="{{ category.id }}">
                    {{ category.name }}
                  </option>
                {% endfor %}
              </select>
              <label for="floatingSelectRemCatNameExpenses"
                >Kategoria wydatków</label
              > -->
              <input 
                type="text"
                class="form-control rounded-3 fw-bold"
                id="floatingRemCatNameExpenses"
                placeholder="Transport"
                value="Transport"
                disabled/>
              <label for="floatingRemCatNameExpenses">Wybrana kategoria</label>
            </div>
            <button
              class="w-100 mb-2 btn btn-lg rounded-3 btn-danger fw-bold"
              type="submit"
              id="buttonRemoveExpensesCategory"
              data-bs-dismiss="modal"
            >
              Usuń
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- modal - remove category payment -->
  <div class="modal fade" id="modalRemCatNamePayment" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content settings-modal-bg">
        <div class="modal-header p-5 pb-4 border-bottom-0">
          <h1 class="fw-bold mb-0 fs-2 w-100 text-white">Usuwanie kategorii</h1>
          <button
            type="button"
            class="btn-close btn-close-white"
            data-bs-dismiss="modal"
          ></button>
        </div>

        <div class="modal-body p-5 pt-0">
          <form class="" method="post" id="formRemovePaymentMethod" onsubmit="dontSubmit(); return false;">
            <div class="form-floating mb-3">
              <!-- <select
                class="form-select"
                id="floatingSelectRemCatNamePayment"
                name="id"
              >
                <option selected>Wybierz kategorię</option>
                {% for methods in payment_methods %}
                  <option value="{{ methods.id }}">
                    {{ methods.name }}
                  </option>
                {% endfor %}
              </select>
              <label for="floatingSelectRemCatNamePayment"
                >Kategoria sposobów płatności</label
              > -->
              <input 
                type="text"
                class="form-control rounded-3 fw-bold"
                id="floatingRemCatNamePayment"
                placeholder="Cash"
                value="Cash"
                disabled/>
              <label for="floatingRemCatNamePayment">Wybrana kategoria</label>
            </div>
            <button
              class="w-100 mb-2 btn btn-lg rounded-3 btn-danger fw-bold"
              type="submit"
              id="buttonRemovePaymentMethod"
              data-bs-dismiss="modal"
            >
              Usuń
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- modal - remove category name incomes accept -->
  <div class="modal fade" id="modalRemCatNameIncomesAccept" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content settings-modal-bg">
        <div class="modal-header p-5 pb-4 border-bottom-0">
          <h1 class="fw-bold mb-0 fs-2 w-100 text-white">Usuwanie kategorii</h1>
          <button
            type="button"
            class="btn-close btn-close-white"
            data-bs-dismiss="modal"
          ></button>
        </div>

        <div class="modal-body p-5 pt-0">
          <form class="" method="post" id="formRemoveIncomeCategoryAccept" onsubmit="dontSubmit(); return false;">
            <div class="form-floating mb-3" id="RemoveIncomeCategoryAcceptNote">
            </div>
            <button
              class="w-100 mb-2 btn btn-lg rounded-3 btn-danger fw-bold"
              type="submit"
              id="buttonRemoveIncomesCategoryAccept"
              data-bs-dismiss="modal"
            >
              Usuń mimo to
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- modal - remove category name expenses accept -->
  <div class="modal fade" id="modalRemCatNameExpensesAccept" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content settings-modal-bg">
        <div class="modal-header p-5 pb-4 border-bottom-0">
          <h1 class="fw-bold mb-0 fs-2 w-100 text-white">Usuwanie kategorii</h1>
          <button
            type="button"
            class="btn-close btn-close-white"
            data-bs-dismiss="modal"
          ></button>
        </div>

        <div class="modal-body p-5 pt-0">
          <form class="" method="post" id="formRemoveExpenseCategoryAccept" onsubmit="dontSubmit(); return false;">
            <div class="form-floating mb-3">
              <div class="form-floating mb-3" id="RemoveExpenseCategoryAcceptNote">
              </div>
            </div>
            <button
              class="w-100 mb-2 btn btn-lg rounded-3 btn-danger fw-bold"
              type="submit"
              id="buttonRemoveExpensesCategoryAccept"
              data-bs-dismiss="modal"
            >
              Usuń mimo to
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- modal - remove category name payment accept -->
  <div class="modal fade" id="modalRemCatNamePaymentAccept" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content settings-modal-bg">
        <div class="modal-header p-5 pb-4 border-bottom-0">
          <h1 class="fw-bold mb-0 fs-2 w-100 text-white">Usuwanie kategorii</h1>
          <button
            type="button"
            class="btn-close btn-close-white"
            data-bs-dismiss="modal"
          ></button>
        </div>

        <div class="modal-body p-5 pt-0">
          <form class="" method="post" id="formRemovePaymentMethodAccept" onsubmit="dontSubmit(); return false;">
            <div class="form-floating mb-3">
              <div class="form-floating mb-3" id="RemovePaymentMethodAcceptNote">
              </div>
            </div>
            <button
              class="w-100 mb-2 btn btn-lg rounded-3 btn-danger fw-bold"
              type="submit"
              id="buttonRemovePaymentMethodAccept"
              data-bs-dismiss="modal"
            >
              Usuń mimo to
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- modal - edit account name -->
  <div class="modal fade" id="modalEditAccountName" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content settings-modal-bg">
        <div class="modal-header p-5 pb-4 border-bottom-0">
          <h1 class="fw-bold mb-0 fs-2 text-white">Zmiania imienia</h1>
          <button
            type="button"
            class="btn-close btn-close-white"
            data-bs-dismiss="modal"
          ></button>
        </div>

        <div class="modal-body p-5 pt-0">
          <form class="" method="post" action="/settings/updateAccount" id="formUpdateAccount">

            <div class="form-floating mb-3">
              <input 
                type="text"
                class="form-control rounded-3 fw-bold"
                id="inputNameCurrent"
                placeholder="Jarek"
                value="{{ user.name }}"
                disabled/>
              <label for="inputNameCurrent">Aktualne imię</label>
            </div>

            <div class="form-floating mb-3">
                <input
                    type="text"
                    class="form-control fw-bold"
                    id="inputName"
                    name="name"
                    placeholder="{{ user.name }}"
                    autocomplete="off"
                />
                <label for="inputName">Nowe imię</label>
            </div>

            <button
              class="w-100 mb-2 btn btn-lg rounded-3 btn-success text-white fw-bold"
              type="submit"
            >
              Zmień imię
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- modal - edit account email -->
  <div class="modal fade" id="modalEditAccountEmail" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content settings-modal-bg">
        <div class="modal-header p-5 pb-4 border-bottom-0">
          <h1 class="fw-bold mb-0 fs-2 text-white">Zmiana adresu email</h1>
          <button
            type="button"
            class="btn-close btn-close-white"
            data-bs-dismiss="modal"
          ></button>
        </div>

        <div class="modal-body p-5 pt-0">
          <form class="" method="post" action="/settings/updateAccount" id="formUpdateAccount">

            <div class="form-floating mb-3">
              <input 
                type="text"
                class="form-control rounded-3 fw-bold"
                id="inputEmailCurrent"
                placeholder="{{ user.email }}"
                value="{{ user.email }}"
                disabled
              />
              <label for="inputEmailCurrent">Aktualny adres email</label>
            </div>

            <div class="form-floating mb-3">
              <input
                type="email"
                class="form-control fw-bold"
                id="inputEmail"
                name="email"
                placeholder="{{ user.email }}"
                autocomplete="off"
              />
              <label for="inputEmail">Nowy adres email</label>
            </div>

            <div class="form-floating mb-3">
              <input
                type="email"
                class="form-control fw-bold"
                id="inputEmail2"
                name="email"
                placeholder="{{ user.email }}"
                autocomplete="off"
              />
              <label for="inputEmail2">Powtórz nowy adres email</label>
            </div>

            <button
              class="w-100 mb-2 btn btn-lg rounded-3 btn-success text-white fw-bold"
              type="submit"
            >
              Zmień adres email
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
  
  <!-- modal - edit account password -->
  <div class="modal fade" id="modalEditAccountPassword" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content settings-modal-bg">
        <div class="modal-header p-5 pb-4 border-bottom-0">
          <h1 class="fw-bold mb-0 fs-2 text-white">Zmiana hasła</h1>
          <button
            type="button"
            class="btn-close btn-close-white"
            data-bs-dismiss="modal"
          ></button>
        </div>

        <div class="modal-body p-5 pt-0">
          <form class="" method="post" action="/settings/updateAccount" id="formUpdateAccount">
    
            <div class="input-group mb-3">
                <div class="form-floating">
                    <input
                    type="password"
                    class="form-control fw-bold"
                    id="inputPasswordCurrent"
                    name="passwordCurrent"
                    placeholder="Hasło"
                    aria-label="Hasło"
                    aria-describedby="inputPasswordBtn"
                    autocomplete="off"
                    />
                </div>
                <button
                  onclick="passShowHideReg()"
                  class="btn btn-outline-secondary"
                  type="button"
                  id="inputPasswordBtnCurrent"
                >Pokaż</button>
            </div>

            <div class="input-group mb-3">
              <div class="form-floating">
                  <input
                  type="password"
                  class="form-control fw-bold"
                  id="inputPasswordNew"
                  name="passwordNew"
                  placeholder="Hasło"
                  aria-label="Hasło"
                  aria-describedby="inputPasswordBtnNew"
                  autocomplete="off"
                  />
              </div>
              <button
                onclick="passShowHideReg()"
                class="btn btn-outline-secondary"
                type="button"
                id="inputPasswordBtnNew"
              >Pokaż</button>
            </div>

            <button
              class="w-100 mb-2 btn btn-lg rounded-3 btn-success text-white fw-bold"
              type="submit"
            >
              Zmień hasło
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- modal - remove account -->
  <div class="modal fade" id="modalRemAccount" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content settings-modal-bg">
        <div class="modal-header p-5 pb-4 border-bottom-0">
          <h1 class="fw-bold mb-0 fs-2 w-100 text-white">Usuwanie Konta</h1>
          <button
            type="button"
            class="btn-close btn-close-white"
            data-bs-dismiss="modal"
          ></button>
        </div>

        <div class="modal-body p-5 pt-0">
          <form class="" method="post" action="/settings/removeAccount" id="formRemoveAccount">
            <div class="w-100 my-5"></div>
            <button
              class="w-100 mb-2 mt-5 btn btn-lg rounded-3 btn-danger fw-bold"
              type="submit"
            >
              Usuń Konto
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}