{% extends 'base.html' %}

{% block title %}Expenses{% endblock %}

{% block footer %}

<script src="/js/validateInputsCommon.js"></script>
<script src="/js/validateInputsNewExpense.js"></script>
<script src="/js/newExpenseLimit.js"></script>

{% endblock %}

{% block body %}

<main class="container">
    <div class="bg-light px-5 py-4 rounded">
      <div class="center-block">
        <form method="post" action="/Expenses/add" id="formAddExpense">

          {% if expense.errors is not empty %}
            <div class="form-floating mb-2">
              <ul>
                  {% for error in expense.errors %}
                      <li>{{ error }}</li>
                  {% endfor %}
              </ul>
            </div>
          {% endif %}

          <!-- JS use class is-invalid when input validation -->
          <div class="form-floating mb-2">
            <input
              type="number"
              class="form-control input-width"
              id="floatingInputKwota"
              name="amount"
              placeholder="0.00"
              step="0.01"
            />
            <label id="floatingInputKwotaLabel" for="floatingInputKwota">Kwota [PLN]</label>
          </div>

          <div id="limitDisplayAmountInput" class="mb-2"></div>

          <!-- JS use class is-invalid when input validation -->
          <div class="form-floating mb-0">
            <input
              type="date"
              class="form-control input-width"
              id="floatingDate"
              name="date_of_expense"
              placeholder="Data"
              value="{{ expense.date_of_expense }}"
            />
            <label id="floatingDateLabel" for="floatingDate">Data</label>
          </div>

          <div id="limitDisplayThisMonthSpent" class="mb-2"></div>

          <!-- JS use class is-invalid when input validation -->
          <div class="form-floating mb-0">
            <select class="form-select input-width" 
            id="floatingSelect"
            name="expense_category_assigned_to_user_id"
            >
              <option>wybierz</option>
              {% for category in expenses_categories %}
                <option value="{{ category.id }}"
                {{ (category.id==expense.expense_category_assigned_to_user_id) ? 'selected' }}>
                    {{ category.name }}
                </option>
              {% endfor %}
            </select>
            <label id="floatingSelectLabel" for="floatingSelect">Kategoria</label>
          </div>

          <div id="limitDisplayForThisCategory" class="mb-2"></div>

          <!-- JS use class is-invalid when input validation -->
          <div class="form-floating mb-2">
            <select class="form-select input-width" 
            id="floatingSelectMethod"
            name="payment_method_assigned_to_user_id"
            >
              <option>wybierz</option>
              {% for methods in payment_methods %}
                <option value="{{ methods.id }}"
                {{ (methods.id==expense.payment_method_assigned_to_user_id) ? 'selected' }}>
                    {{ methods.name }}
                </option>
              {% endfor %}
            </select>
            <label id="floatingSelectMethodLabel" for="floatingSelectMethod">Metoda płatności</label>
          </div>

          <div class="form-floating mb-2">
            <textarea
              class="form-control input-width"
              placeholder="Komentarz"
              id="floatingTextarea"
              name="expense_comment"
            >{{ expense.expense_comment ?? '' }}</textarea>
            <label for="floatingTextarea">Komentarz</label>
          </div>

          <button class="w-100 btn btn-lg rounded-3 btn-success input-width" type="submit">
            Dodaj
          </button>
        </form>
      </div>
    </div>
</main>

{% endblock %}
