{% extends 'base.html' %}

{% block title %}Expenses{% endblock %}

{% block footer %}

<script src="/js/validateInputsCommon.js"></script>
<script src="/js/validateInputsNewExpense.js"></script>
<script src="/js/newExpenseLimit.js"></script>

{% endblock %}

{% block body %}

<main class="container">
      <div class="center-block settings-modal-bg py-3 px-2 rounded">
        <form method="post" action="/Expenses/add" id="formAddExpense">

          {% if expense.errors is not empty %}
            <div class="form-floating mb-2">
              <ul>
                  {% for error in expense.errors %}
                      <li>{{ error }}</li>
                  {% endfor %}
              </ul>
            </div>
          {% endif %}

          <!-- JS use class is-invalid when input validation -->
          <div class="form-floating mb-1">
            <input
              type="number"
              class="form-control input-width fw-bold"
              id="floatingInputKwota"
              name="amount"
              placeholder="0.00"
              min="0.00"
              step="0.01"
            />
            <label id="floatingInputKwotaLabel" for="floatingInputKwota">Kwota [PLN]</label>
          </div>

          <div id="limitDisplayAmountInput" class="mb-2 text-white"></div>

          <!-- JS use class is-invalid when input validation -->
          <div class="form-floating mb-1">
            <input
              type="date"
              class="form-control input-width fw-bold"
              id="floatingDate"
              name="date_of_expense"
              placeholder="Data"
              value="{{ expense.date_of_expense }}"
              min="2020-01-01"
            />
            <label id="floatingDateLabel" for="floatingDate">Data</label>
          </div>

          <div id="limitDisplayThisMonthSpent" class="mb-2 text-white"></div>

          <!-- JS use class is-invalid when input validation -->
          <div class="form-floating mb-1">
            <select class="form-select input-width fw-bold" 
            id="floatingSelect"
            name="expense_category_assigned_to_user_id"
            >
              <option value="0">wybierz</option>
              {% for category in expenses_categories %}
                <option value="{{ category.id }}"
                {{ (category.id==expense.expense_category_assigned_to_user_id) ? 'selected' }}>
                    {{ category.name }}
                </option>
              {% endfor %}
            </select>
            <label id="floatingSelectLabel" for="floatingSelect">Kategoria</label>
          </div>

          <div id="limitDisplayForThisCategory" class="mb-2 text-white"></div>

          <!-- JS use class is-invalid when input validation -->
          <div class="form-floating mb-2">
            <select class="form-select input-width fw-bold" 
            id="floatingSelectMethod"
            name="payment_method_assigned_to_user_id"
            >
              <option value="0">wybierz</option>
              {% for methods in payment_methods %}
                <option value="{{ methods.id }}"
                {{ (methods.id==expense.payment_method_assigned_to_user_id) ? 'selected' }}>
                    {{ methods.name }}
                </option>
              {% endfor %}
            </select>
            <label id="floatingSelectMethodLabel" for="floatingSelectMethod">Metoda płatności</label>
          </div>

          <div class="form-floating mb-2">
            <textarea
              class="form-control input-width fw-bold"
              placeholder="Komentarz"
              id="floatingTextarea"
              name="expense_comment"
            >{{ expense.expense_comment ?? '' }}</textarea>
            <label for="floatingTextarea">Komentarz</label>
          </div>

          <button class="w-100 btn btn-lg rounded-3 btn-success input-width" type="submit">
            Dodaj
          </button>
        </form>
      </div>
</main>

<!-- modal - accept overlimit expense -->
<div class="modal fade" id="modalOverlimitAccept" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content settings-modal-bg">
      <div class="modal-header p-5 pb-4 border-bottom-0">
        <h1 class="fw-bold mb-0 fs-2 w-100 text-white">Przekroczono limit!</h1>
        <button
          type="button"
          class="btn-close btn-close-white"
          data-bs-dismiss="modal"
        ></button>
      </div>
      <div class="modal-body p-5 pt-0">
        <form method="post" action="/Expenses/add" id="formAddExpenseAccept">

          <input
            hidden
            id="floatingInputKwotaHidden"
            name="amount"
          />

          <input
            hidden
            id="floatingDateHidden"
            name="date_of_expense"
          />

          <input 
            hidden
            id="floatingSelectHidden"
            name="expense_category_assigned_to_user_id"
          />

          <input
            hidden
            id="floatingSelectMethodHidden"
            name="payment_method_assigned_to_user_id"
          />

          <input
            hidden
            id="floatingTextareaHidden"
            name="expense_comment"
          />

          <button
            class="w-100 mb-2 btn btn-lg rounded-3 btn-warning fw-bold"
            type="submit"
            id="buttonRemovePaymentMethodAccept"
            data-bs-dismiss="modal"
          >
            Dodaj mimo to
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}
